<div class="content-wrapper">
  <div class="content-header p-0 m-0">
    <div class="hero-section" style="background-image: url('assets/images/web_shopping.png')">
      <div class="hero-content p-5">
        <h1 class="mb-4">Welcome to Sahri Sahri Store</h1>
        <p class="text-lg">Shop today and choose your favorite products. Make your experience Sahri Sahri</p>
        <button class="btn btn-outline-light my-2" (click)="navigateToProductsPage()">Explore our Products</button>
      </div>
    </div>
  </div>
</div>
